{% extends 'relink_app/base.html' %}
{% load static %}

{% block content %}
  <article class="container-fluid d-flex flex-column justify-content-center align-items-center text-center" style="min-height: calc(100vh - 80px - 74px) !important;">
    {% if text_link %}
      <h2 class="my-4">{{ text_link|capfirst }}</h2>
    {% else %}
      <h2 class="my-4">Enlace proporcionado por JoJDev y <a href="/" class="text-dark text-decoration-none">Re<span class="text-primary text-decoration-underline">link</span></a></h2>
    {% endif %}
    {% if seconds > 0 %}
      {% if auto_redirect %}
        <p>Espera a que termine el tiempo para ser redirigido al url</p>
        <div id="containerURL" class="w-100">
          <span id="clockNum" class="position-absolute" style="width: 6rem; height: 6rem; padding-top: 1em; font-size: 26px;">{{ seconds }}</span>
          <div class="spinner-border fs-2" style="width: 6rem; height: 6rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% else %}
        <p>Espera a que termine el tiempo para poder acceder al URL</p>
        <div id="containerURL" class="w-100">
          <span id="clockNum" class="position-absolute" style="width: 6rem; height: 6rem; padding-top: 1em; font-size: 26px;">{{ seconds }}</span>
          <div class="spinner-border fs-2" style="width: 6rem; height: 6rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      {% endif %}
    {% else %}
      <p>Da click para ir al enlace</p>
      <a href="{{ url }}" class="btn btn-success btn-lg w-50 py-2" role="button">Enlace</a>
    {% endif %}
  </article>
{% endblock %}

{% block js %}
  {% if seconds > 0 %}
    <script src="{% static 'relink_app/script.js' %}"></script>
    {% if auto_redirect %}
      <script id="scriptHidden">
        const interval = setInterval(clock, 1000, '{{ url }}', 'Enlace', true)
        document.getElementById('scriptHidden').remove()
      </script>
    {% else %}
      <script id="scriptHidden">
        const interval = setInterval(clock, 1000, '{{ url }}', 'Enlace')
        document.getElementById('scriptHidden').remove()
      </script>
    {% endif %}
  {% endif %}
{% endblock %}
